* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg,gray, rgb(250, 250, 102),gray);
    background-size: auto 50vh;
    font-size: 15px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    height: 50vh;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: fixed;
    width: 100vw;
    height: 20vh;
    top:0;
    background: linear-gradient(#F7F7F7,#E0E0E0, #939393);
    z-index: 1;
}
.menu h1 img {
    height: 80px;
    width: 80px;
    float: left;
    margin: 10px 5px;
    border-radius: 70px;
    position: relative;
    top: -34px;
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-transform: uppercase;
}
.menu a {
    display:block;
    position: absolute;
    font-family: 'Comic Neue', cursive;
    color:black;
    text-decoration: none;
    transition: background-color 1s, color 1s;
    top:30px;

}
.menu a:active,
.menu a:hover {
    text-shadow: 1px 1px 6px rgb(29, 29, 28);
}
main {
    width: 300px;
    margin: 35px 10px;
}
form {
    margin: 20px 0;
}
form label, form p {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}
.input-padrao {
    display: block;
    margin-bottom: 5px;
    padding: 5px 25px;
    width: 90%;
}
.checkbox {
    margin: 10px 0; /*margin pra cima e pra baixo de 20px e para os lados de 0 */
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
/*Se a tela tiver pelo menos 320 pixels vai carregar estes estilos*/
@media (min-width: 576px ) {
}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 768px ) {
.menu {
    height: 26vh;
}
header{
    height: 26vh;
}
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 992px ) {

}



