* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #515C09;
    background-size: auto 50vh;
    color: darkgrey;
    font-size: 15px;
    font-family: 'Noto Sans', serif;
    text-align: justify;
    height: 50vh;
}
/*Se a tela tiver pelo menos 320 pixels vai carregar estes estilos*/
@media (min-width: 320px ) {
    body {
        font-size: 17px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1em;
}
main {
    width: 300px;
    margin: -32em 25px;
}

form {
    margin: 20px 0;
}

form label, form p {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: black;
}

.input-padrao {
    display: block;
    margin-bottom: 5px;
    padding: 5px 25px;
    width: 90%;
}

.checkbox {
    margin: 10px 0; /*margin pra cima e pra baixo de 20px e para os lados de 0 */
}
.enviar {
    font-size: 14px;
}
}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 560px ) {
    body {
        font-size: 21px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1.5em;
   }

main {
    width: 520px;
    margin: -25em 42px;
}

form {
    margin: 20px 0;
}

form label, form p {
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
    color: black;
}

.input-padrao {
    display: block;
    margin-bottom: 5px;
    padding: 10px 25px;
    width: 90%;
}

.checkbox {
    margin: 20px 0; /*margin pra cima e pra baixo de 20px e para os lados de 0 */
}
.enviar {
    font-size: 17px;
}
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 1024px ) {
    body {
        font-size: 20px;
    }
    .menu a {
        font-size: 1.8em;
}
.menu {
    width: 100vw;
    text-align: center;
}
main {
    width: 900px;
    margin: -25em 108px;
}

form {
    margin: 20px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom: 6px;
    color: black;
}

.input-padrao {
    display: block;
    margin-bottom: 5px;
    padding: 13px 25px;
    width: 90%;
}

.checkbox {
    margin: 20px 0; /*margin pra cima e pra baixo de 20px e para os lados de 0 */
}
.enviar {
    font-size: 18px;
}
}
/*Se a tela tiver pelo menos 1440 (tv) pixels vai carregar estes estilos*/
@media (min-width: 1440px ) {
    body {
        font-size: 25px;
    }
    .menu a {
        font-size: 1em;
}
}
header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: fixed;
    width: 100vw;
    top:0;
    background-color:black;
    z-index: ;
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-transform: uppercase;
}
.menu a {
    display:block;
    padding: 10px 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 0.8em;
    color:whitesmoke;
    text-decoration: none;
    transition: background-color 1s, color 1s;
}
.menu a:active,
.menu a:hover {
    color:#27F6E1;
    text-decoration: underline;
}

