* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: yellow;
    background-size: auto 50vh;
    color: darkgrey;
    font-size: 15px;
    font-family: 'Noto Sans', serif;
    text-align: justify;
    height: 50vh;
}
/*Se a tela tiver pelo menos 320 pixels vai carregar estes estilos*/
@media (min-width: 320px ) {
    body {
        font-size: 17px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1em;
}
}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 560px ) {
    body {
        font-size: 21px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1.5em;
   }
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 1024px ) {
    body {
        font-size: 20px;
    }
    .menu a {
        font-size: 1.8em;
}
.menu {
    width: 100vw;
    text-align: center;
}
}
/*Se a tela tiver pelo menos 1440 (tv) pixels vai carregar estes estilos*/
@media (min-width: 1440px ) {
    body {
        font-size: 25px;
    }
    .menu a {
        font-size: 1em;
}
}
header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: fixed;
    width: 100vw;
    top:0;
    background-color:black;
    z-index: ;
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-shadow: 5px 5px 7px #f5f5f5;
    text-transform: uppercase;
}
.menu a {
    display:block;
    padding: 10px 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 0.8em;
    color:yellow;
    text-decoration: none;
    transition: background-color 1s, color 1s;
}
.menu a:active,
.menu a:hover {
    background-color:yellow;
    color:black;
}
.contatos {
    margin: auto;
    height: 100vh;
}
.contatos h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 3em;
    color: black;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}
.contatos .grid {
    display: grid;
    gap: 4em;
}
@media (min-width: 320px) {
    
    .contatos .grid {
        grid-template-columns: 80px 80px;
        }
     .img-portfolio {
        height: 80px;
        width: 80px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:45px;/*faz com que a imagem fique arredondada */
    }
}
@media (min-width: 560px) {
    .contatos .grid {
    grid-template-columns: 150px 150px;
    }
    .img-portfolio {
        height: 150px;
        width: 150px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:45px;/*faz com que a imagem fique arredondada */
    }
}
@media (min-width: 880px) {
    .contatos .grid {
      grid-template-columns: repeat(4, 150px);
      align-content: center;
      justify-content: center;
    }
    .img-portfolio {
        height: 150px;
        width: 150px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:45px;/*faz com que a imagem fique arredondada */
   }
}
.contatos figure {
    text-align: center;
    
}