* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("../img/fundologo.jpg");
    background-size: auto 50vh;
    font-size: 15px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    height: 50vh;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    height: 90px;
    width: 90px;
    float: left;
    margin: 0 0 0 13px;
    border-radius: 70px;
}
nav {
    width: 100vw;
    height: 20vh;
}
.topnav a {
    display: inline;
    font-family: 'Abril Fatface', cursive;
    color:rgb(248, 201, 45);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    transition: color 1s;
    position: relative;
}  
.topnav a:hover,
.topnav a:active {
    color: whitesmoke;
}
.topnav .icon {
    display: none;
}
main {
    width: 300px;
    margin: 35px 10px;
}
form {
    margin: 0px 5px;
}
form label, form p {
    display: block;
    font-size: 16px;
    margin-bottom: 3px;
    color: whitesmoke;
}
.input-padrao {
    display: block;
    margin-bottom: 3px;
    padding: 5px 25px;
    width: 65vw;
}
.checkbox {
    margin: 10px 0; /*margin pra cima e pra baixo de 20px e para os lados de 0 */
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
@media (max-width: 576px ) {
.topnav a:not(.topnav){display: none;}
.topnav a.icon {
    position: relative;
    float: right;
    display: block;
    top: -3px;
    font-size: 35px;
}
.topnav a:hover,
.topnav a:active {
    color: whitesmoke;
}
}
@media (max-width: 576px ) {
.topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    line-height: 1px;
    position: relative;
    top: 0;
}
}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 768px ) {
header{
    height: 35vh;
}
.topnav a {
    font-size: 22px;
    right: -250px;
    
}
form {
    margin: 70px 5px;
}
.enviar {
    width: 70%;
}
form label, form p {
    font-size: 19px;
    margin-bottom: 6px;
}
header img {
    height: 105px;
    width: 105px;
    margin: 38px 0 0 13px;
}
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 992px ) {
.topnav a {
    right: -795px;
}
}



