* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("../img/fundologo.jpg");
    background-size: auto 50vh;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    height: 50vh;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: fixed;
    width: 100vw;
    height: 20vh;
    top:0;
    background: url("../img/fundologo.jpg");
    z-index: 1;
}
.menu h1 img {
    height: 80px;
    width: 80px;
    float: left;
    margin: 10px 5px;
    border-radius: 70px;
    position: relative;
    top: -34px;
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-transform: uppercase;
}
.menu a {
    display: block;
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    color:rgb(248, 201, 45);
    text-decoration: none;
    font-size: 19px;
    transition: background-color 1s, color 1s;
    top:30px;
}
.menu a:active,
.menu a:hover {
     color: whitesmoke;
}
.main-highlight-image{
    height: 90px;
    width: 100vw;
}
.main-highlight i {
    font-size: 20px;
    color: rgb(207, 207, 207);
    margin: 0 5px;
    position: relative;
    top: 60px;
}
.main-highlight i:hover {
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.bullets {
    height: auto;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 214px;
    font-size: 40px;
}
.bullets a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px black;
}
.bullets a.active {
    color: rgb(224, 155, 64);
}
/*Se a tela tiver pelo menos 320 pixels vai carregar estes estilos*/
@media (min-width: 576px ) {
.main-highlight i {
    top: 55px;
}
}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 768px ) {
.menu {
    height: 26vh;
}
header{
    height: 26vh;
}
.main-highlight-image{
    height: 220px;
    width: 100vw;
}
.main-highlight i {
    top: 120px;
}
.bullets {
    top: 285px;
}
}
@media (min-width: 992px ) {
.bullets {
    top: 350px;
}
}

/*
.site-subtitle {
    font-style: italic;
    color:whitesmoke;
    text-align: center;
    font-size: 6mm;
}
.site-title {
    color:whitesmoke;
    text-align: center;
    font-size: 2em;
    overflow: hidden; /*esconde as letras até aparecer*/
    /*border-right: 2px solid white;
    white-space: nowrap; /* mantem todos na mesma linha*/

