* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: yellow;
    background-size: auto 50vh;
    font-size: 15px;
    font-family: 'Patrick Hand', cursive;
    text-align: justify;
    height: 50vh;
}
/*Se a tela tiver pelo menos 320 pixels vai carregar estes estilos*/
@media (min-width: 320px ) {
    body {
        font-size: 17px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1em;
}
.site-title {
    font-size: 1.7em;
}
.site-subtitle  {
    font-size: 1.5em;
    line-height: 1.5em;
}
.texto {
    font-size: 0.9m;
    line-height: 1.5em; 
}

}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 560px ) {
    body {
        font-size: 21px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1.5em;
}
.site-title {
    font-size: 2em;
}
.site-subtitle  {
    font-size: 1.4em;
    line-height: 2.5em;
}
.texto {
    font-size: 1.1m;
    line-height: 2.5em; 
}
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 1024px ) {
    body {
        font-size: 20px;
    }
    .menu a {
        font-size: 1.8em;
}
.menu {
    width: 100vw;
    text-align: center;
}
.site-title {
    font-size: 2.5em;
}
.site-subtitle  {
    font-size: 2.1em;
    line-height: 2.5em;
}
.texto {
    font-size: 2.1m;
    line-height: 2.5em; 
}

}
/*Se a tela tiver pelo menos 1440 (tv) pixels vai carregar estes estilos*/
@media (min-width: 1440px ) {
    body {
        font-size: 25px;
    }
    .menu a {
        font-size: 1em;
}
}
header{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: fixed;
    width: 100vw;
    top:0;
    background-color:black;
    z-index: 1;
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-shadow: 5px 5px 7px #f5f5f5;
    text-transform: uppercase;
}
.menu a {
    display:block;
    padding: 10px 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 0.8em;
    color:yellow;
    text-decoration: none;
    transition: background-color 1s, color 1s;
}
.menu a:active,
.menu a:hover {
    background-color:yellow;
    color:black;
}
.site-title {
    color: black;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 15px;
}
.site-subtitle  {
    color: rgb(24, 22, 22);
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    margin-top: 20px;
}
.texto {
    color: red;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    margin-top: 20px;
}
.titulo {
    text-align: center;
    height: 45vh;
    background-color: yellow;
    position: relative;
    top:-241px;
    width: 100vw;
}
.main-highlight {
    position: relative;
    height: 27vh;
    top: -128px;

}
.main-highlight-image{
    display: block;
    height: 285px;
    width: 100vw;
    display: flex;
    align-content: center;
}
.bullets a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px black;
}
.bullets {
    height: auto;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    justify-content: center;
    top: 250px;
    gap: 0.7em;
}
.bullets a.active {
    color:orange;
}

/*
.site-subtitle {
    font-style: italic;
    color:whitesmoke;
    text-align: center;
    font-size: 6mm;
}
.site-title {
    color:whitesmoke;
    text-align: center;
    font-size: 2em;
    overflow: hidden; /*esconde as letras até aparecer*/
    /*border-right: 2px solid white;
    white-space: nowrap; /* mantem todos na mesma linha*/

