* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("../img/fundologo.jpg");
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    height: 50vh;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    height: 80px;
    width: 80px;
    float: left;
    margin: 0 0 0 13px;
    border-radius: 70px;
    position: absolute;
    top: 10px;
}
.topnav {
    overflow: hidden;
    background: transparent;
}
nav {
    width: 100vw;
    height: 20vh;
}
.topnav a {
    display: inline;
    font-family: 'Abril Fatface', cursive;
    color:rgb(248, 201, 45);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    transition: color 1s;
    position: relative;
}  
.topnav a:hover,
.topnav a:active {
    color: whitesmoke;
}
.topnav .icon {
    display: none;
}
footer {
    background: #CCCCCC;
    bottom: 0;
    position: relative;
    width: 100vw;
    height: 56vh;
    margin-top: 46px;
    padding: 5px 0;
}

.footer-extra {
    background:gray;
    color:#ffffff;
    font-size: 13px;
    float: left;
    width: 100vw;
}

.footer-extra img {
    position: relative;
    top: 10px;
    padding: 0 10px;
}

.copyright {
    position: relative;
    padding-left: 50px;
    top: -15px;
    
}
.forma-pagto img {
    width: 55px;
    height: 34px;
    margin: 3px 25px 10px 10px;
}

footer h4 {
    margin: 15px 10px;
    font-size: 16px;
}

.btn-rede {
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    color: whitesmoke;
    margin: 0 10px;
    text-shadow: 3px 1px 12px black;
    transition: color 1s;
}

.btn-rede:hover {
    color: rgb(71, 71, 71);
}
.contato-footer a {
    text-decoration: none;
    color: black;
}
.tel,.email,.localizacao {
    float: left;
    margin: 12px 10px;
}
.contato-footer i {
    color:rgb(129, 99, 0);
}
.contato-footer a:hover {
    text-decoration: underline;
}
@media (max-width: 576px ) {
.topnav a:not(.topnav){display: none;}
.topnav a.icon {
    position: relative;
    float: right;
    display: block;
    top: -3px;
    font-size: 35px;
}
.topnav a:hover,
.topnav a:active {
    color: whitesmoke;
}
}
@media (max-width: 576px ) {
.topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    line-height: 1px;
    position: relative;
    top: 0;
}
}
@media (min-width: 576px) {
.contato-footer {
    display: grid;
}
    
footer h4 {
    font-size: 16px;
}
footer {
    height: 50vh;
    display: flex;
}
.forma-pagto img {
    width: 45px;
    height: 29px;
    margin: -3px 0;
}
.contato-footer {
    display: grid;
}
.tel,.email,.localizacao {
    margin: -20px 10px;
    position: relative;
    top: -17px;
}
    
.contato-footer,.forma-pagto,.redes-sociais{
    margin: 10px auto;
}
    
.btn-rede {
    padding: 0 5px;
    font-size: 24px;
}
}
@media (min-width: 768px ) {
header{
    height: 35vh;
}
.topnav a {
    font-size: 22px;
    right: -344px;
}
header img {
    height: 105px;
    width: 105px;
    margin: 38px 0 0 13px;
    top: -29px;
}
main {
    height: 90vh;
}
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 992px ) {
.topnav a {
    right: -917px;
}
footer {
    height: 37vh;
    display: flex;
}
.forma-pagto img {
    width: 55px;
    height: 34px;
    margin: 3px 0;
}
.contato-footer {
    display: grid;
}
.tel,.email,.localizacao {
    margin: -20px 10px;
    position: relative;
    top: -17px;
}

.contato-footer,.forma-pagto,.redes-sociais{
    margin: 10px auto;
}

.btn-rede {
    padding: 0 5px;
}
}
