* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(15, 19, 22);
    background-size: auto 100vh;
    color: darkgrey;
    font-size: 15px;
    font-family: 'Noto Sans', serif;
    text-align: justify;
    height: 100vh;
}
/*Se a tela tiver pelo menos 320 pixels vai carregar estes estilos*/
@media (min-width: 320px ) {
    body {
        font-size: 17px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1em;
}
   .projetos h3 {
    font-size: 22px;
}
}
/*Se a tela tiver pelo menos 760 (tablet) pixels vai carregar estes estilos*/
@media (min-width: 560px ) {
    body {
        font-size: 21px;
    }
    .menu {
        width: 100vw;
        text-align: center;
    }
    .menu a {
        font-size: 1.5em;
   }
   .projetos .grid {
    align-items: center;
    grid-template-columns: 130px auto;
    gap: 1.8em;
    justify-content: center;
    margin-left: 1em;
    margin-right: 2em;
}
}
/*Se a tela tiver pelo menos 1024 (laptop) pixels vai carregar estes estilos*/
@media (min-width: 1024px ) {
    body {
        font-size: 20px;
    }
    .menu a {
        font-size: 1.8em;
}
.menu {
    width: 100vw;
    text-align: center;
}
   .projetos h3 {
    font-size: 30px;
}
}
/*Se a tela tiver pelo menos 1440 (tv) pixels vai carregar estes estilos*/
@media (min-width: 1440px ) {
    body {
        font-size: 25px;
    }
    .menu a {
        font-size: 2.1em;
}
    .projetos h3 {
    font-size: 32px;
}
}
header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    position: fixed;
    width: 100vw;
    top:0;
    background-color: black;
}
.menu ul {
  display:flex;
  justify-content: space-evenly;
}
.menu li {
    list-style: none;
    text-shadow: 5px 5px 7px #f5f5f5;
    text-transform: uppercase;
}
.menu a {
    display:block;
    padding: 10px 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 0.8em;
}
a {
    color:whitesmoke;
    text-decoration: none;
}
a:hover {
    background-color: #ddd;
    color: black;
}
.projetos {
    margin: auto;
    height: 100vh;
}
.projetos h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 3em;
    color: rgb(218, 118, 118);
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}
.projetos .grid {
    display: grid;
    gap: 4em;
}
@media (min-width: 320px) {
     .img-portfolio {
        height: 120px;
        width: 190px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:20px;/*faz com que a imagem fique arredondada */
    }
}
@media (min-width: 560px) {
    .projetos .grid {
      grid-template-columns: 290px 290px;
    }
    .img-portfolio {
        height: 220px;
        width: 290px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:20px;/*faz com que a imagem fique arredondada */
    }
}
@media (min-width: 880px) {
    .projetos .grid {
      grid-template-columns: repeat(3, 290px);
      align-content: center;
      justify-content: center;
    }
    .img-portfolio {
        height: 220px;
        width: 290px;
        object-fit: cover; /*Fazer com que a imagem fique completamente a medida que passou height e width, sem deformar*/
        object-position: left bottom; /*mover a imagem dentro da caixa*/
        border-radius:20px;/*faz com que a imagem fique arredondada */
    }
}
.projetos figure {
    text-align: center;
}
.projetos figcaption {
    padding:center;
}